
<p> Hi! I'm setting this up. Brb!  </p>
<br>
<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li>
      <h3><%= link_to article.title, article %></h3>
      # <h6><%= article.date.strftime('%b %e') %></h6>
      <p><%= article.summary %></p>
      <p class="more-link"><%= link_to 'more…', article %></p>
    </li>
  <% end %>
</ul>